body {
    background-color: rgba(0, 0, 0, 0.94);
    margin: 0;
}


.caption{
    font-size: 20px;
    color: #3dbde3;
    font-family: Arial, serif;
    line-height: 20%;

}

.flex-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

.flexbox-moviePics p{
    color: #3dbde3;
    line-height: 100%;
    font-size: 20px;
    color: #ffffff;
    font-size: 90%;
    font-family: Helvetica, serif;
    text-align: justify;
    margin-top: 5%;
    margin-bottom: 10%;

}

.flexbox-moviePics{
    margin-top: 10%;
    margin-left: 15%;
    text-align-last: auto;
    margin-bottom: 20%;
    line-height: 180%;
}
    .flexbox-title {
        position: center;
        text-align: center;
        color: #3dbde3;
        font-size: 40px;
        font-family: Arial, serif;
    }


    .navbar {
        list-style-type: none;
        margin: 0px;
        padding: 0px;
        overflow: hidden;
        background-color: #3dbde3;
    }

     li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: start;
        padding: 12px 50px;
        text-decoration: none;
        font-family: Arial, serif;
    }

     li a:hover {
        background-color: #111;
    }

    @media only screen and (max-width: 600px) {
        .flex-container {
            flex-direction: column;
        }
    }


