body {
    background-color: rgba(0, 0, 0, 0.94);
}
.Head-Text h1 {
    position: relative;
    top: 80px;
    left: 40%;
    color: #3dbde3;
    font-size: 40px;
    font-family: Arial, serif;
}

ul {
    list-style-type: none;
    margin: -100px;
    padding: 0px;
    overflow: hidden;
    background-color: #3dbde3;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: start;
    padding: 12px 50px;
    text-decoration: none;
    font-family: Arial, serif;
}

li a:hover {
    background-color: #111;
}

.caption{
    font-size: 20px;
    color: #3dbde3;
    font-family: Arial, serif;
    line-height: 20%;

}
p{
    margin-top: 3%;

}
.Description-text{
    position: absolute;
    top: 25%;
    left: 300px;
    color: #3dbde3;
    font-size: 90%;
    font-family: Helvetica, serif;
    text-align: justify;
}
.moviePics{
    margin-top: 15%;
}

@media all and (max-width: 500px){

}